{{#if z}}
Informacija apie klienta: {{y}}, kurio ID yra {{x}}
{{else}}
Tokio ID nera
{{/if}}

{{!-- Masyvo paleidimas be ciklo atsikiriant kableiiais --}}
</br>
{{array}}

{{#if array}}
    <ul>
        {{#each array}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}


{{#if object}}
    <ul>
        {{#each object}}
            <li>{{vardas}} {{pavarde}}</li>
        {{/each}}
    </ul>
{{/if}}

<ul>
    {{#with salis}}
        <li>Salis: {{pavadinimas}}</li>
        <li>Sostine: {{sostine}}</li>
    {{/with}}
</ul>